/* footer */
footer {
	background-color: rgb(194, 194, 255);
	text-align: center;
	width: 100%
}

.foot {
	margin: 0;
}

.lastline {
	margin:0;
	text-decoration: none;
}


/* signup */
.signup {
	width: 100%;
	margin: 5%;
}

.suinputs {
	margin: 5% 5% 5% 0;
}

