/* footer */
footer {
	background-color: rgb(194, 194, 255);
	text-align: center;
	width: 100%;
	padding: 1.5% 0;

}

.foot {
	margin: 0;
	list-style-type: none;
}

.foot li {
	display: inline-block;
	text-align: center;
	padding: 0 3%;
}

.lastline {
	text-decoration: none;
}


/* booking */
.booking {
	width: 75%;
	text-align: center;
	margin-top: 0%;
	padding-top: 25px;
}

.bk {
	width: 100%;
}


/* Impressum */
.imp {
	background-color: rgb(208, 208, 255);
	padding-top: 3%;
	text-align: center;
}

.impbody {
	text-align: left;
	padding: 5% 10%;
	width: 60%;
	padding: 3% 15%;
	margin: 0 10%
}


/* signup */
.row {
	width: 70%;
	padding: 5% 15%;
}
