.checkin {
    background-color: rgb(208, 208, 255);
    padding: 25px;
}

.icon {
    width: 34px;
    margin: 0;
    padding: 0;
}

.button {
    background-color: rgb(95, 95, 245);
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
    border-radius: 5px;
    padding: 12px 20px;
    margin: 8px 0;
    margin: 5% 5% 0 5%;
}

 .buttonwidth {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #5F5FF5;
    border-radius: 5px;
    box-sizing: border-box;
}
/*
input[type=submit] {
    background-color: #5F5FF5;
    color: white;
    padding: 14px 20px;
    border: none;
}*/


.confirm p{
    text-align: center;
    width: 100%;
    padding: 50px;
    margin: 0;
    font-size: 25px;
}